.row {
    background: white;
    border: 1px solid #c6dcef;
    height: 70px;
    padding-top: 0px;
}

.col {
    border: 0.5px solid #c6dcef;
    color: gray !important;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    
}

p {
    padding-top: 18px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    
}